$Lightred: hsl(356, 100%, 66%); //(CTA text)
$Verylightred: hsl(355, 100%, 74%); //(CTA hover background)
$Verydarkblue: hsl(208, 49%, 24%); //(headings)

// Neutral

$White: hsl(0, 0%, 100%); //(text)
$Grayishblue: hsl(240, 2%, 79%); //(footer text)
$Verydarkgrayishblue: hsl(207, 13%, 34%); //(body copy)
$Verydarkblackblue: hsl(240, 10%, 16%); //(footer background)

// Gradient

//Background gradient - Intro/CTA mobile nav:

$Verylightred: #ff8f70;
$Lightred: #ff3d54;

//Background gradient - body:

$Verydarkgrayblue: rgba(44, 45, 63, 1);
$Verydarkdesaturatedblue: rgba(63, 65, 100, 1);

//Fonts

$Barlow: "Barlow", sans-serif;
$Overpass: "Overpass", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  position: relative;
  background-color: #fafafa;
  /* &::after {
    content: "";
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.5;
    background-image: url(./design/desktop-design.jpg);
  } */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 1115px;
  margin: auto;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 60px;
  font-family: $Barlow;

  .container {
    display: flex;
    align-items: center;
  }
}
.logo__img {
  transform: scale(1.02);
  position: relative;
  left: 5px;
}
.nav {
  margin-left: 70px;
  display: flex;
}

.nav__item {
  text-decoration: none;
  color: $White;
  margin-right: 47px;
  font-size: 1.05em;
}
.nav__list {
  display: none;
}
.nav__list-item {
  text-decoration: none;
}

.user__controls {
  margin-left: auto;
}
.user__controls {
  display: flex;
  align-items: center;
}
.login__btn {
  text-decoration: none;
  margin-right: 34px;

  color: $White;
}
.signUp__btn {
  text-decoration: none;
  height: 47px;
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $White;
  color: $Lightred;
  border-radius: 50px;
  position: relative;
  right: -1px;
  font-size: 1.05em;
  line-height: 1px;
}
.banner__section {
  padding-top: 77px;
  background: rgb(255, 143, 112);
  background: url(./images/bg-pattern-intro-desktop.svg),
    linear-gradient(90deg, rgba(255, 143, 112, 1) 20%, rgba(255, 61, 84, 1) 85%);
  background-position: center left;
  height: 600px;
  border-radius: 0 0 0 90px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.banner__title {
  display: block;
  width: 100%;
  text-align: center;
  color: $White;
  font-family: $Overpass;
  font-size: 4em;
  margin-bottom: 10px;
  letter-spacing: -2.5px;
}
.banner__subtitle {
  color: $White;
  font-family: $Overpass;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 45px;
}
.banner__btns {
  display: flex;
}

.banner__btn {
  margin: 0 7.5px;
  width: 137px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: $Barlow;
  border: solid white 1px;
  border-radius: 50px;
  color: $White;
  font-size: 1.1em;
}

.banner__btn--fill {
  background-color: $White;
  color: $Lightred;
}

.editor__row {
  padding: 150px 0;
  position: relative;
  padding-bottom: 185px;
  overflow-x: hidden;
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
.editor__img--wrapper {
  position: relative;
  img {
    position: absolute;
    left: 70px;
    top: -125px;
  }
}
.editor__title {
  font-size: 2.4em;
  font-family: $Barlow;
  text-align: center;
  color: $Verydarkblackblue;
}

.editor__content {
  margin-top: 108px;
  width: 100%;
  padding-left: 4px;
}

.content__wrapper {
  margin-bottom: 72px;
}
.content__title {
  color: $Verydarkblackblue;
  font-family: $Barlow;
  font-size: 1.8em;
  margin-bottom: 28px;
}

.content__text {
  font-family: $Overpass;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.phone__row {
  height: 400px;
  background: $Verydarkgrayblue;
  background: linear-gradient(
    90deg,
    $Verydarkgrayblue 20%,
    $Verydarkdesaturatedblue 85%
  );
  border-radius: 0px 85px 0 85px;
  position: relative;
}
.bg__circles--wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: clip;
}

.bg__circles--phone {
  position: absolute;
  top: 0;
  left: 30px;
  transform: translate(-40%, -50%);
}
.phone__row {
  .container {
    display: flex;
    height: 100%;
    position: relative;
  }
}

.phone__img {
  width: 50%;
  position: relative;
  img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 43%;
  }
}
.phone__content {
  width: 50%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  padding-left: 17px;
}

.phone__title {
  color: $White;
  font-family: $Overpass;
  font-size: 2.29em;
  margin-bottom: 10px;
}
.phone__text {
  color: $White;
  font-family: $Overpass;
  font-weight: 300;
  line-height: 1px;
  letter-spacing: 0.3px;
  word-spacing: 1.2px;
  line-height: 28px;
  position: relative;
  top: 12px;
}

.laptop__row {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 115px 0;
  margin-bottom: 115px;
}
.laptop__img-wrapper {
  position: relative;
  img {
    position: absolute;
    left: 46px;
    transform: translateX(-50%);
  }
}
.laptop__content {
  width: 100%;
  margin-top: 185px;
  padding-left: 15px;
}

footer {
  height: 360px;
  border-radius: 0px 85px 0 0;
  background: linear-gradient(90deg, #2c2d3f 20%, #3f4164 85%);
  position: relative;
}
.footer-wrapper {
  padding: 70px 3px;
  padding-bottom: 60px;
  display: flex;
}

.footer__column {
  width: 25%;
  &:nth-child(2) {
    padding-top: 7px;
    padding-left: 9px;
  }
  &:nth-child(3) {
    padding-top: 7px;
    padding-left: 17px;
  }
  &:nth-child(4) {
    padding-top: 7px;
    padding-left: 24px;
  }
}
.footer__nav-title {
  color: $White;
  font-family: $Barlow;
  font-size: 0.95em;
  display: inline-block;
  margin-bottom: 38px;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
}
.footer__nav-item {
  text-decoration: none;
  color: $White;
  font-family: $Overpass;
  font-size: 0.95em;

  font-family: 100;
  margin-bottom: 14px;
}
.attribution {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: $Barlow;
  color: $White;
  a {
    color: $Lightred;
  }
}
.img__mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  /*   .img__mobile{
    display: block;
  }
  .img__desktop{
    display: none;
  } */
  .content__text,
  .phone__text {
    br {
      display: none;
    }
  }
  .editor__row {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .editor__content {
      order: 2;
      margin-top: 50px;
    }
    .editor__img--wrapper {
      order: 1;
      img {
        width: 100%;
        position: initial;
      }
    }
  }
  .bg__circles--phone {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg__circles--wrapper {
    overflow: clip;
  }
  .phone__img img {
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .phone__row {
    height: 600px;
    margin-top: 100px;
    .container {
      flex-wrap: wrap;
    }
    .phone__img,
    .phone__content {
      width: 100%;
    }
    .phone__content {
      padding-top: 100px;
      text-align: center;
      z-index: 1;
    }
  }
  .phone__title {
    width: 100%;
  }
  .laptop__row {
    display: flex;
    flex-wrap: wrap;
    .laptop__content {
      width: 100%;
      margin-top: 50px;
    }
    .laptop__img-wrapper img {
      position: initial;
      left: initial;
      transform: initial;
      width: 100%;
    }
  }
}
.nav__item {
  transition: ease 0.2s;
  &:hover {
    .nav__item-ico {
      transition: ease 0.2s;
      transform: rotate(180deg);
    }
  }
  &::after {
    content: "";
    display: block;
    border: 1px solid white;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }
}
.active {
  transition: ease 0.2s;

  position: relative;
  .nav__item-ico {
    transition: ease 0.2s;
    transform: rotate(180deg);
  }
  &::after {
    transform: scaleX(1);
  }
  .nav__list {
    display: block;
    position: absolute;
    padding: 30px 25px;
    background-color: white;
    border-radius: 10px;
    top: 0;
    left: -15px;
    transform: translateY(47px);
    min-width: 170px;

    a {
      color: $Verydarkblackblue;
      font-family: $Overpass;
      font-weight: 300;
      padding-right: 15px;
      font-size: 0.9em;
      margin-bottom: 5px;
      width: 100%;
      display: inline-block;
      transition: ease 0.2s;

      &:hover {
        font-weight: 600;
        transition: ease 0.2s;
      }
    }
  }
}
