$Lightred: hsl(356, 100%, 66%); //(CTA text)
$Verylightred: hsl(355, 100%, 74%); //(CTA hover background)
$Verydarkblue: hsl(208, 49%, 24%); //(headings)

// Neutral

$White: hsl(0, 0%, 100%); //(text)
$Grayishblue: hsl(240, 2%, 79%); //(footer text)
$Verydarkgrayishblue: hsl(207, 13%, 34%); //(body copy)
$Verydarkblackblue: hsl(240, 10%, 16%); //(footer background)

// Gradient

//Background gradient - Intro/CTA mobile nav:

$Verylightred: #ff8f70;
$Lightred: #ff3d54;

//Background gradient - body:

$Verydarkgrayblue: rgba(44, 45, 63, 1);
$Verydarkdesaturatedblue: rgba(63, 65, 100, 1);

//Fonts

$Barlow: "Barlow", sans-serif;
$Overpass: "Overpass", sans-serif;
.mb {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  position: relative;
  background-color: #fafafa;
  &::after {
    content: "";
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.5;
    background-image: url(./design/desktop-design.jpg);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 1115px;
  margin: auto;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 60px;
  font-family: $Barlow;

  .container {
    display: flex;
    align-items: center;
  }
}
.logo__img {
  transform: scale(1.02);
  position: relative;
  left: 5px;
}
.nav {
  margin-left: 70px;
  display: flex;
}

.nav__item {
  text-decoration: none;
  color: $White;
  margin-right: 34px;
  font-size: 1.05em;

  transition: ease 0.2s;
  .nav__item-ico {
    margin-left: 3px;
  }
  &:hover {
    .nav__item-ico {
      transition: ease 0.2s;
      transform: rotate(180deg);
    }
  }
  &::after {
    content: "";
    display: block;
    border: 1px solid white;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }
}

.active {
  transition: ease 0.2s;
  position: relative;
  .nav__item-ico {
    transition: ease 0.2s;
    transform: rotate(180deg);
  }
  &::after {
    transform: scaleX(1);
  }
  .nav__list {
    display: block;
    position: absolute;
    padding: 30px 25px;
    background-color: white;
    border-radius: 10px;
    top: 0;
    left: -15px;
    transform: translateY(47px);
    min-width: 170px;

    a {
      color: $Verydarkblackblue;
      font-family: $Overpass;
      font-weight: 300;
      padding-right: 15px;
      font-size: 0.9em;
      margin-bottom: 5px;
      width: 100%;
      display: inline-block;
      transition: ease 0.2s;

      &:hover {
        font-weight: 600;
        transition: ease 0.2s;
      }
    }
  }
}
.nav__list {
  display: none;
}
.nav__list-item {
  text-decoration: none;
}

.user__controls {
  margin-left: auto;
}
.user__controls {
  display: flex;
  align-items: center;
}
.login__btn {
  text-decoration: none;
  margin-right: 34px;

  color: $White;
}
.signUp__btn {
  text-decoration: none;
  height: 47px;
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $White;
  color: $Lightred;
  border-radius: 50px;
  position: relative;
  right: -1px;
  font-size: 1.05em;
  line-height: 1px;
  transition: ease 0.2s;
  &:hover {
    transition: ease 0.2s;
    background-color: #ff7b86;
    color: white;
  }
}
.mobile__nav-dropdown {
  margin-bottom: 20px;
}
.dropdown__title {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  font-family: $Barlow;
  font-size: 1.2em;
  color: $Verydarkblue;

  svg {
    transition: transform 0.2s ease;
    margin-left: 7px;
  }
}
.dropdown__content {
  display: none;
}
.mobile__nav {
  visibility: hidden;
  position: absolute;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 30px 20px;
  top: 60px;
  transform: scale(0);
  transition: all 0.5s ease-in;
}
.mobile__nav--active {
  visibility: visible;
  /* display: block; */
  transform: scale(1);
}

.separator {
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: $Grayishblue;
}

.mobile__user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    display: block;
    text-decoration: none;
    width: 44%;
    text-align: center;
    font-size: 1.2em;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.mobile__login {
  color: $Verydarkblue;
  margin-bottom: 10px;
}
.mobile__sign {
  background: linear-gradient(
    90deg,
    rgba(255, 143, 112, 1) 20%,
    rgba(255, 61, 84, 1) 85%
  );
  border-radius: 40px;
  color: white;
}

.mobile__nav-dropdown.active {
  transition: ease 0.2s;
  .dropdown__content {
    visibility: visible;
    margin-top: 15px;
    padding: 15px;
    height: 100%;
  }
  .dropdown__title {
    transition: ease 0.2s;

    svg {
      transition: ease 0.2s;
      transform: rotate(180deg);
    }
  }
}

.dropdown__content {
  transition: ease 0.2s;
  height: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efeff1;
}

.dropdown__item {
  text-decoration: none;
  color: $Verydarkgrayishblue;
  font-size: 1em;
  padding: 8px 0;
  width: 100%;
  text-align: center;
}
.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  cursor: pointer;
  span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 3px;
    background: #fff;
    transition: all 0.3s;
    position: relative;
  }

  span + span {
    margin-top: 5px;
  }
}

.active {
  span + span {
    margin-top: 19px;
  }
}

.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.banner__section {
  padding-top: 77px;
  background: rgb(255, 143, 112);
  background: url(./images/bg-pattern-intro-desktop.svg),
    linear-gradient(90deg, rgba(255, 143, 112, 1) 20%, rgba(255, 61, 84, 1) 85%);
  background-position: center left;
  height: 600px;
  border-radius: 0 0 0 90px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.banner__title {
  display: block;
  width: 100%;
  text-align: center;
  color: $White;
  font-family: $Overpass;
  font-size: 4em;
  margin-bottom: 10px;
  letter-spacing: -2.5px;
}
.banner__subtitle {
  color: $White;
  font-family: $Overpass;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 45px;
}
.banner__btns {
  display: flex;
}

.banner__btn {
  margin: 0 7.5px;
  width: 137px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: $Barlow;
  border: solid white 1px;
  border-radius: 50px;
  color: $White;
  font-size: 1.1em;
  transition: ease 0.2s;
  &:hover {
    transition: ease 0.2s;
    background-color: white;

    color: #ff7b86;
  }
}

.banner__btn--fill {
  background-color: $White;
  color: $Lightred;
  &:hover {
    transition: ease 0.2s;
    background-color: #ff7b86;
    border-color: #ff7b86;
    color: white;
  }
}

.editor__row {
  padding: 150px 0;
  position: relative;
  padding-bottom: 185px;
  overflow-x: hidden;
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
.editor__img--wrapper {
  position: relative;
  img {
    position: absolute;
    left: 70px;
    top: -125px;
  }
}
.editor__title {
  font-size: 2.4em;
  font-family: $Barlow;
  text-align: center;
  color: $Verydarkblue;
}

.editor__content {
  margin-top: 108px;
  width: 100%;
  padding-left: 4px;
}

.content__wrapper {
  margin-bottom: 72px;
}
.content__title {
  color: $Verydarkblue;
  font-family: $Barlow;
  font-size: 1.8em;
  margin-bottom: 28px;
}

.content__text {
  font-family: $Overpass;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.phone__row {
  height: 400px;
  background: $Verydarkgrayblue;
  background: linear-gradient(
    90deg,
    $Verydarkgrayblue 20%,
    $Verydarkdesaturatedblue 85%
  );
  border-radius: 0px 85px 0 85px;
  position: relative;
}
.bg__circles--wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: clip;
}

.bg__circles--phone {
  position: absolute;
  top: 0;
  left: 30px;
  transform: translate(-40%, -50%);
}
.phone__row {
  .container {
    display: flex;
    height: 100%;
    position: relative;
  }
}

.phone__img {
  width: 50%;
  position: relative;
  img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 43%;
  }
}
.phone__content {
  width: 50%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  padding-left: 17px;
}

.phone__title {
  color: $White;
  font-family: $Overpass;
  font-size: 2.29em;
  margin-bottom: 10px;
}
.phone__text {
  color: $White;
  font-family: $Overpass;
  font-weight: 300;
  line-height: 1px;
  letter-spacing: 0.3px;
  word-spacing: 1.2px;
  line-height: 28px;
  position: relative;
  top: 12px;
}

.laptop__row {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 115px 0;
  margin-bottom: 115px;
}
.laptop__img-wrapper {
  position: relative;
  img {
    position: absolute;
    left: 46px;
    transform: translateX(-50%);
  }
}
.laptop__content {
  width: 100%;
  margin-top: 185px;
  padding-left: 15px;
}

footer {
  height: 360px;
  border-radius: 0px 85px 0 0;
  background: $Verydarkblackblue;
  position: relative;
}
.footer-wrapper {
  padding: 70px 3px;
  padding-bottom: 60px;
  display: flex;
}

.footer__column {
  width: 25%;
  &:nth-child(2) {
    padding-top: 7px;
    padding-left: 9px;
  }
  &:nth-child(3) {
    padding-top: 7px;
    padding-left: 17px;
  }
  &:nth-child(4) {
    padding-top: 7px;
    padding-left: 24px;
  }
}
.footer__nav-title {
  color: $White;
  font-family: $Barlow;
  font-size: 0.95em;
  display: inline-block;
  margin-bottom: 38px;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
}
.footer__nav-item {
  text-decoration: none;
  color: $White;
  font-family: $Overpass;
  font-size: 0.95em;
  margin-bottom: 14px;
  width: fit-content;
  position: relative;
  transition: ease 0.2s;

  &::before {
    display: block;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
  }
  &:hover {
    transition: ease 0.2s;
    &::before {
      transform: scaleX(1);
    }
  }
}
.attribution {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: $Barlow;
  color: $White;
  a {
    color: $Lightred;
  }
}
.img__mobile {
  display: none;
}
@media screen and (max-width: 1440px) {
  .banner__section {
    background-position: 25% 52%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  /*   .img__mobile{
    display: block;
  }
  .img__desktop{
    display: none;
  } */
  .content__text,
  .phone__text {
    br {
      display: none;
    }
  }
  .editor__row {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .editor__content {
      order: 2;
      margin-top: 50px;
    }
    .editor__img--wrapper {
      order: 1;
      img {
        width: 100%;
        position: initial;
      }
    }
  }
  .bg__circles--phone {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg__circles--wrapper {
    overflow: clip;
  }
  .phone__img img {
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .phone__row {
    height: 600px;
    margin-top: 100px;
    .container {
      flex-wrap: wrap;
    }
    .phone__img,
    .phone__content {
      width: 100%;
    }
    .phone__content {
      padding-top: 100px;
      text-align: center;
      z-index: 1;
    }
  }
  .phone__title {
    width: 100%;
  }
  .laptop__row {
    display: flex;
    flex-wrap: wrap;
    .laptop__content {
      width: 100%;
      margin-top: 50px;
    }
    .laptop__img-wrapper img {
      position: initial;
      left: initial;
      transform: initial;
      width: 100%;
    }
  }
}
.mobile__nav-trigger {
  display: none;
}
@media screen and (max-width: 800px) {
  .banner__section {
    background-position: center;
  }
  .nav,
  .user__controls {
    display: none;
  }
  .header .container {
    justify-content: space-between;
    position: relative;
  }
  .mobile__nav-trigger {
    background-color: transparent;
    border: 0;
    margin-left: auto;
    display: block;
    position: relative;
    width: 30px;
  }
}

@media screen and (max-width: 600px) {
  .banner__section {
    background: url(./images/bg-pattern-intro-mobile.svg),
      linear-gradient(
        90deg,
        rgba(255, 143, 112, 1) 20%,
        rgba(255, 61, 84, 1) 85%
      );
    background-position: 40% 30%;
  }
  .phone__row .container {
    width: 100%;
  }
  .phone__img img {
    width: 100%;
  }
  .bg__circles--wrapper {
    border-radius: 0px 85px 0 85px;
  }
  .bg__circles--phone {
    transform: translate(-50%, -25%);
    width: 120%;
  }
  .content__wrapper {
    text-align: center;
  }
  .laptop__row {
    margin-bottom: 0;
  }
  footer {
    height: auto;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__column {
    padding: 0 !important;
  }
  .footer__nav-item,
  .footer__nav-list,
  .footer__nav {
    text-align: center;
    width: 100%;
  }
  .footer__logo {
    margin-bottom: 60px;
  }
  .footer__nav-title {
    font-size: 1.1em;
  }
  .footer__nav-item {
    font-size: 1.05em;
  }
  .footer__nav {
    margin-bottom: 30px;
  }
  .editor__title {
    font-size: 1.8em;
  }
  .content__title {
    width: 90%;
  }
  .banner__title {
    font-size: 2.6em;
  }
  .banner__subtitle {
    font-size: 1.15em;
    width: 80%;
  }
  .editor__row {
    padding: 100px 0;
  }
  .mb {
    display: block;
  }
}
