* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  position: relative;
  background-color: #fafafa;
}

body::after {
  content: "";
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.5;
  background-image: url(./design/desktop-design.jpg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.container {
  width: 1115px;
  margin: auto;
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 60px;
  font-family: "Barlow", sans-serif;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  position: relative;
  left: 5px;
}

.nav {
  margin-left: 70px;
}

.nav__item {
  text-decoration: none;
  color: white;
  margin-right: 47px;
  font-size: 1.05em;
}

.nav__list {
  display: none;
}

.nav__list-item {
  text-decoration: none;
}

.user__controls {
  margin-left: auto;
}

.user__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__btn {
  text-decoration: none;
  margin-right: 34px;
  color: white;
}

.signUp__btn {
  text-decoration: none;
  height: 47px;
  width: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #ff3d54;
  border-radius: 50px;
  position: relative;
  right: -1px;
  font-size: 1.05em;
  line-height: 1px;
}

.banner__section {
  padding-top: 77px;
  background: #ff8f70;
  background: url(./images/bg-pattern-intro-desktop.svg), -webkit-gradient(linear, left top, right top, color-stop(20%, #ff8f70), color-stop(85%, #ff3d54));
  background: url(./images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, #ff8f70 20%, #ff3d54 85%);
  background-position: center left;
  height: 600px;
  border-radius: 0 0 0 150px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner__title {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 4em;
  margin-bottom: 10px;
  letter-spacing: -2.5px;
}

.banner__subtitle {
  color: white;
  font-family: "Overpass", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 45px;
}

.banner__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__btn {
  margin: 0 7.5px;
  width: 137px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  border: solid white 1px;
  border-radius: 50px;
  color: white;
  font-size: 1.1em;
}

.banner__btn--fill {
  background-color: white;
  color: #ff3d54;
}

.first__row {
  padding: 150px 0;
  background-image: url(./images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-position: right 70px;
}

.first__title {
  font-size: 2.4em;
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: #25252d;
}

.first__content {
  margin-top: 108px;
  width: 60%;
  padding-left: 4px;
}

.content__wrapper {
  margin-bottom: 72px;
}

.content__title {
  color: #25252d;
  font-family: "Barlow", sans-serif;
  font-size: 1.8em;
  margin-bottom: 28px;
}

.content__text {
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.5px;
  line-height: 28px;
}
/*# sourceMappingURL=style.css.map */